@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

$main-font: 'Kdam Thmor Pro', sans-serif;
$american_river: #636e72;
$dracula_orchid: #2d3436;
$city_lights: #dfe6e9;
$exodus_fruit: #6c5ce7;
$clouds: #ecf0f1;

 //NavBar Settings
$NavBar_border_color: $dracula_orchid;
$NavBar_hover_bg-color: $dracula_orchid;
$NavBar_hover_position_child_color: $city_lights;
$NavBar_list_bg-color: $clouds;

//Link Settings
$Link_color: $american_river;
$Link_hover_color: $exodus_fruit;
$Link_hover_border-color: $exodus_fruit;

//PageTitle Settings
$PageTitle_color: $clouds;

//Logo
$Logo_bg-color: $clouds;
$Logo_box-shadow_color: $exodus_fruit;

//Title
$Title_text-shadow_color: $exodus_fruit;

//Button
$Button_bg-color: $clouds;
$Button_hover_bg-color: $exodus_fruit;
$Button_hover_content_color: $city_lights;
$Button_content_color: $american_river;
