@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

$main-font: 'Kdam Thmor Pro', sans-serif;
$american_river: #636e72;
$dracula_orchid: #2d3436;
$city_lights: #dfe6e9;
$exodus_fruit: #6c5ce7;

 //NavBar Settings
$NavBar_border_color: $dracula_orchid;
$NavBar_hover_bg-color: $dracula_orchid;
$NavBar_hover_position_child_color: $city_lights;

//Link Settings
$Link_color: $american_river;
$Link_hover_color: #6c5ce7;
$Link_hover_border-color: #6c5ce7;
