@import "../../../../styles/settings.scss";

.container {
  border: 2px solid $NewsElement_border_color;
  box-sizing: border-box;
  border-radius: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.4em $NewsElement_box-shadow_hover_color;
  }

  &:first-child {
    margin-top: 0;
  }
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
