@import "../../../styles/settings.scss";

.container {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 1.2em 0;
  transition: 1s all;
  border-top: 1px solid $NavBar_border_color;
  border-bottom: 1px solid $NavBar_border_color;

  &:hover {
    cursor: pointer;
    background-color: $NavBar_hover_bg-color;

    .position > * {
      color: $NavBar_hover_position_child_color;
    }
  }
}

.position {
  margin-right: 1.7em;
}

.position:last-child {
  margin-right: 0;
}
